{% extends '/base.html' %}

{% block article %}

<div id="container_main" style="width: 280px; margin-left: auto; margin-right: auto">
{% for i in list %}
    {% if i!=ult_arq %}
        <div style="display:flex; align-items: center; padding: 5px 0 5px 0; border-bottom: solid 1px rgba(0,147,221,0.5);">
    {% else %}
        <div style="display:flex; align-items: center; padding: 5px 0 5px 0; border-bottom: solid 1px rgba(255,255,255);">
    {% endif %}
        <div style="padding-right: 5px;">{{i}}</div>
        <div style="padding-right: 5px;">
            <form method="GET" action="download/{{i}}">
                <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-download-alt">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0"/>
                    </svg>
                </button>    
            </form>
        </div>
        <div style="padding-right: 5px;">
            <form method="GET" action="delete/{{i}}">
                <button type="submit" class="btn btn-primary btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                    </svg>                   
                </button>    
            </form>
        </div>        
    </div>
{% endfor %}
</div>
<div style="display: flex; justify-content: center; padding-top: 10px">
    <form action="/">
        <button type="submit" class="btn btn-primary" style="margin-bottom: 10px; width: 280px;">Numerar novo arquivo</button>
    </form>
</div>

{% endblock %}